* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}
body {
	background: #ccc;
}
section {
}
.conatiner {
	padding: 50px 100px;
}
a {
	color: black;
}
.heading {
	display: flex;
	justify-content: center;
	align-items: center;
}
.heading {
	flex-direction: column;
	padding: 20px 0;
}
.border {
	height: 5px;
	width: 180px;
	background: yellowgreen;
}
.heading h1,
.button a,
.bottomBtn a {
	text-transform: uppercase;
	padding-bottom: 10px;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
}
.card {
	border-radius: 10px;
	box-shadow: 0px 4px 15px #aeaeae;
	flex-basis: 30%;
	background: white;
	margin: 10px;
}
.card-content {
	padding: 20px;
}
.card-img {
	display: flex;
	width: 100%;
}
.card-img img {
	width: 100%;
	height: 250px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.card-header,
.con,
.button {
	padding: 10px 0;
}
.card-header h5 {
	color: rgb(67, 67, 247);
}
.content {
	color: rgb(130, 128, 128);
	font-size: 0.875em;
}
.button {
	background: #f0f01f;
	width: 130px;
	border: 1px solid yellow;
	border-radius: 25px;
	text-align: center;
	font-size: 0.68em;
	margin: 10px 0;
}
.button:hover,
.bottomBtn:hover {
	background: #e3e326;
}
.bottomBtn {
	width: 250px;
	background: #f0f01f;
	border: 1px solid yellow;
	border-radius: 25px;
	text-align: center;
	font-size: 12px;
	margin: 50px auto;
	padding: 15px;
	cursor: pointer;
	box-shadow: 0px 4px 15px #aeaeae;
}
@media only screen and (min-width: 320px) {
    .conatiner {
		padding: 5px 20px;
	}
	.card-img img {
		height: 200px;
	}
	.card-header,
	.con,
	.button {
		padding: 5px 0;
	}
	.card-header h3,
	.bottomBtn {
		font-size: 12px;
	}
	.card {
		flex-basis: 100%;
	}
	.content,
	.button {
		font-size: 10px;
	}
	.bottomBtn {
		width: 150px;
		margin: 25px auto;
		padding: 10px;
	}
}

/* @media (min-width: 240px) and (max-width: 380px) {
	.conatiner {
		padding: 5px 20px;
	}
	.card-img img {
		height: 200px;
	}
	.card-header,
	.con,
	.button {
		padding: 5px 0;
	}
	.card-header h3,
	.bottomBtn {
		font-size: 12px;
	}
	.card {
		flex-basis: 100%;
	}
	.content,
	.button {
		font-size: 10px;
	}
	.bottomBtn {
		width: 150px;
		margin: 25px auto;
		padding: 10px;
	}
} */
 @media only screen and (min-width : 480px) {
.conatiner {
		padding: 10px 50px;
	}
	.card {
		flex-basis: 100%;
	}
	.card-header h3,
	.bottomBtn {
		font-size: 15px;
	}
	.content {
		font-size: 12px;
	}
	.button {
		font-size: 10px;
	}
	.border {
		width: 100px;
	}
    }

/* @media (min-width: 381px) and (max-width: 540px) {
	.conatiner {
		padding: 10px 25px;
	}
	.card {
		flex-basis: 100%;
	}
	.card-header h3,
	.bottomBtn {
		font-size: 15px;
	}
	.content {
		font-size: 12px;
	}
	.button {
		font-size: 10px;
	}
	.border {
		width: 100px;
	}
} */
 @media only screen and (min-width : 768px) {
.conatiner {
		padding: 10px 50px;
	}
	.card {
		flex-basis: 75%;
	}
    .card-header{
        font-size: 20px;
    }
	.content {
		font-size: 14px;
	}
	.button {
		font-size: 10px;
	}
	.card-img img {
		height: 250px;
	}
	.card-header,
	.con,
	.button {
		padding: 10px 0;
	}
    }

/* @media (min-width: 541px) and (max-width: 768px) {
	.conatiner {
		padding: 10px 35px;
	}
	.card {
		flex-basis: 45%;
	}
	.content {
		font-size: 12px;
	}
	.button {
		font-size: 10px;
	}
	.card-img img {
		height: 200px;
	}
	.card-header,
	.con,
	.button {
		padding: 10px 0;
	}
} */

 @media only screen and (min-width : 992px) {
.conatiner {
		padding: 10px 35px;
	}
	.card {
		flex-basis: 30%;
	}
    .card-header h3{
        font-size: 15px;
    }
	
	.content {
		font-size: 14px;
	}
	.content {
		font-size: 11px;
	}
	.button {
		font-size: 10px;
	}
    }


/* @media (min-width: 769px) and (max-width: 991px) {
	.conatiner {
		padding: 10px 35px;
	}
	.card {
		flex-basis: 30%;
	}
	.content,
	.button {
		font-size: 12px;
	}
	.content {
		font-size: 11px;
	}
	.button {
		font-size: 10px;
	}
} */
