* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
input:invalid {
	border: 3px solid red;
}
.container,
.loanApp,
.capcha,
.capchaData,
.optValidate,
.loanHeading,
.num1,
.num2,
.amtError {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	flex-direction: column;
	width: 100%;
	height: 100vh;
}
.loanApp {
	flex-direction: column;
	background: rgb(238, 238, 238);
	width: 35%;
	height: 700px;
	border-radius: 10px;
	box-shadow: 0px 5px 15px #a0a0a0;
}
.loan {
	width: 75%;
}

.loanHeading {
	padding: 20px 0;
	height: 120px;
	width: 100%;
}
.loanHeading h1 {
	text-align: center;
}
.inp {
	padding: 10px 0;
}
.label {
}
.form-input input {
	height: 40px;
	width: 100%;
	margin-top: 5px;
	border-radius: 5px;
	font-size: 1rem;
	padding: 0 10px;
}
.checkInput {
	position: relative;
	display: none;
}
.checkInput.active {
	display: flex;
}
.nameDesc {
	position: absolute;
	z-index: 1;
	background: #ffffffb3;
	width: 65%;
	display: none;
	right: 0;
	border-radius: 5px;
}
.nameDesc ul {
	width: 100%;
	font-size: 12px;
	list-style-position: inside;
	padding: 10px 20px;
}
.emailVal,
.pan,
.amtError {
	display: none;
}
.emailVal.active,
.pan.active,
.error .wrong.active,
.error .right.active,
.amtError.active,
.checkInput:hover .nameDesc {
	display: block;
}
#pan {
	text-transform: uppercase;
}

.inp button {
	background-color: #04aa6d;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
}
.amountShow {
	display: flex;
	justify-content: end;
	align-items: center;
	height: 35px;
}
.capcha,
.capchaData {
	flex-direction: row;
}
.capchaData {
	background: url(https://codingnepalweb.com/demos/custom-captcha-in-javascript/captcha-bg.png);
	/* padding: 20px 10px; */
	width: 35%;
	height: 55px;
}
.num1 {
	transform: rotate(-45deg);
	width: 30%;
}
.num2 {
	width: 30%;
	transform: rotate(-40deg);
}

.num1 span,
.num2 span,
.oper span {
	font-style: italic;
	padding: 0 10px;
	font-size: 1.56rem;
}
.equalTo {
	font-size: 1.25rem;
	padding: 0 20px;
}
.check {
	width: 35%;
}
.reloadCapcha i {
	padding-left: 10px;
	cursor: pointer;
}
.error i {
	font-size: 25px;
}
.wrong i {
	color: red;
}
.right i {
	color: greenyellow;
}
.error .wrong,
.error .right {
	display: none;
}

/* model pop up */

.thankYouPage {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	display: none;
	overflow: hidden;
}
.thankYouPage.active {
	display: block;
}
.page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: white;
}

.msgPage {
	height: 100px;
	width: 100px;
	display: none;
}
.msgPage.active {
	display: block;
}

.msgPage .contain {
	padding: 50px;
}
.closeButton {
	position: absolute;
	top: 2%;
	right: 3%;
	transform: translate(10%, 10%);
}
.closeButton i {
	font-size: 1.5rem;
	cursor: pointer;
	transition: transform 0.7s ease-in-out;
}
.closeButton i:hover {
	transform: rotate(360deg);
	color: red;
}

.customer {
	background: ghostwhite;
}
.headingThank h1 {
	text-align: center;
	padding-bottom: 20px;
}
.thanksData p {
	font-size: 1rem;
	line-height: 1.5;
}
.thanksData p:nth-child(2) {
	padding: 10px 0;
}
.optValidate {
	padding: 10px 0;
}
.optValidate input {
	height: 35px;
	width: 30%;
	font-size: 1.125rem;
	margin-right: 20px;
	padding: 5px 10px;
	border: 1px solid;
	border-radius: 5px;
}
.optValidate button {
	height: 40px;
	width: 100px;
	background: greenyellow;
	border: 1px solid rgb(155, 230, 43);
	font-size: 1rem;
	border-radius: 5px;
}

.attemptCount {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: red;
	visibility: hidden;
	height: 30px;
}
.attemptCount.active {
	visibility: visible;
}
.vData {
	display: none;
	color: greenyellow;
}
.vData.active {
	display: block;
}
.con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 40px 5%;
	border: 1px solid #9a9a9a;
	/* background: ghostwhite; */
	border-radius: 10px;
	box-shadow: 0px 0px 22px #999;
}

.optValidate i {
	visibility: hidden;
}
.optValidate i.active {
	visibility: visible;
	margin-left: 10px;
	font-size: 1.05rem;
	color: greenyellow;
}

.optValidate i:last-child {
	color: black;
	visibility: hidden;
}
.optValidate i:last-child.active {
	visibility: visible;
}
